<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Caixa $caixa
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Caixa'), ['action' => 'edit', $caixa->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Caixa'), ['action' => 'delete', $caixa->id], ['confirm' => __('Are you sure you want to delete # {0}?', $caixa->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Caixa'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Caixa'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="caixa view large-9 medium-8 columns content">
    <h3><?= h($caixa->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th scope="row"><?= __('Nome') ?></th>
            <td><?= h($caixa->nome) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Id') ?></th>
            <td><?= $this->Number->format($caixa->id) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Entrada') ?></th>
            <td><?= $this->Number->format($caixa->entrada) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Fechamento') ?></th>
            <td><?= $this->Number->format($caixa->fechamento) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Created') ?></th>
            <td><?= h($caixa->created) ?></td>
        </tr>
        <tr>
            <th scope="row"><?= __('Modified') ?></th>
            <td><?= h($caixa->modified) ?></td>
        </tr>
    </table>
</div>
